@import "tailwindcss";

@font-face {
  font-family: "Kitchen Delight Script";
  src: url("/fonts/Kitchen Delight Script.ttf") format("ttf");
}
@font-face {
  font-family: "Kitchen Delight";
  src: url("/fonts/Kitchen Delight.ttf") format("ttf");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-script: "Kitchen Delight Script";
  --font-delight: "Kitchen Delight";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
